<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title>
      <ion-row>
        <ion-col size="auto">
          <a [routerLink]="['/']"><ion-icon name="home" style="color: white; font-size: 22px;"></ion-icon></a>
        </ion-col>
        <ion-col>
          <div style="font-weight: bold; font-size: 17px; padding-left: 10px; color: white;">{{ title | translate }}</div>
        </ion-col>
        <ion-col size="auto">
            <a [routerLink]="['/favorite']"><ion-icon name="star" style="color: white; font-size: 22px;"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let genre of genres">
      <ion-col>
        <div class="genre-list">
          <span (click)="goToNetflixGenreUrl(genre.id)">{{ genre.name | translate }}</span>
          <ion-icon class="favorite-icon" *ngIf="!genre.favorite_flag" name="star-outline" (click)="addFavorite(genre)"></ion-icon>
          <ion-icon class="favorite-icon" *ngIf="genre.favorite_flag" name="star" (click)="removeFavorite(genre)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
