<app-top-bar></app-top-bar>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let genre of genres">
      <ion-col size="auto">
        <ion-icon name="remove-circle" (click)="removeFavoriteConfirm(genre)"></ion-icon>
      </ion-col>
      <ion-col>
        <a href="https://www.netflix.com/browse/genre/{{genre.id}}">{{ genre.name | translate }}</a>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="genres.length == 0">
      <ion-col>
        <div>Favorite없다</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="genres.length == 0">
      <ion-col>
        <a [routerLink]="['/']">Home</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
